[submodule "DOLSharp"]
	path = DOLSharp
	url = https://github.com/Dawn-of-Light/DOLSharp
	branch = master
[submodule "EODModelViewer"]
	path = EODModelViewer
	url = https://github.com/NetDwarf/EODModelViewer
